.vscode/**
.github/**
ext/**
tests/**
node_modules/**
assets/**
docs/**
scripts/**
.mkw/**
.gitignore
.eslintrc.json
**/*.map
tsconfig.json
vitest.config.ts
esbuild.ext.mjs
mkdocs.yml
justfile
preview.html
22/**
getting-started/**
!dist/**
!media/**
!templates/**
!package.json
!LICENSE
!README.md
